/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// variables overrides (customization )

$primary: #2bcb9b;
$secondary: #b9a889;
$info: #9c9b93;
$warning: #122325;
$light: #ffff;
$dark: #0a2a30;
$success: #f9f8f4;
// $success: #E5E4DF;

/* Common css */

// sass - -watch main.scss:main.css (enter)
* {
  margin: 0;
  padding: 0;
}
h3 {
  color: green;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.n-flex {
  display: flex;
}
.n-flex-center {
  display: flex;
  align-items: center;
}

.n-flex-between {
  display: flex;
  justify-content: space-between;
}

//======== custom heading font ===========

.n-heading-1 {
  font-size: 64px;
  line-height: 74px;
}

.n-heading-2 {
  font-size: 44px;
  line-height: 54px;
}

.n-heading-3 {
  font-size: 24px;
  line-height: 34px;
}
// ====================//@
//====Costom-perag========//@at-root

.n-paragraph-1 {
  font-size: 18px;
  line-height: 28px;
}

.n-paragraph-2 {
  font-size: 24px;
  line-height: 24px;
}
/* responsive */

//=========== custom font weight ===========

.n-fw-400 {
  font-weight: 400 !important;
}

.n-fw-500 {
  font-weight: 500 !important ;
}

.n-fw-600 {
  font-weight: 600 !important;
}

.n-fw-700 {
  font-weight: 700 !important;
}

.n-fw-800 {
  font-weight: 800 !important;
}

//=========== custom max-weight ===========
@for $max-width from 1 through 1200 {
  n-max-w-#{$max-width} {
    max-width: #{$max-width}px !important;
  }
}

//============== custom utility class generator ================

@for $space from 1 to 300 {
  .n-w-#{$space} {
    width: #{$space}px !important;
  }

  .n-h-#{$space} {
    height: #{$space}px !important;
  }

  .n-m-#{$space} {
    margin: #{$space}px !important;
  }
  .n-max-#{$space} {
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }

  .n-my-#{$space} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }
  .n-ml-#{$space} {
    margin-left: #{$space}px !important ;
  }
  .n-me-#{$space} {
    margin-right: #{$space}px !important;
  }

  .n-mr-#{$space} {
    margin-right: #{$space}px !important;
  }

  .n-mb-#{$space} {
    margin-bottom: #{$space}px !important ;
  }
  .n-mt-#{$space} {
    margin-top: #{$space}px !important;
  }
  // Padding reated

  .n-p-#{$space} {
    padding: #{$space}px !important;
  }

  .n-px-#{$space} {
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }

  .n-py-#{$space} {
    padding-top: #{$space}px !important;

    padding-bottom: #{$space}px !important;
  }

  .n-pl-#{$space} {
    padding-left: #{$space} px !important;
  }

  .n-pr-#{$space} {
    padding-right: #{$space}px !important;
  }
  .n-pb-#{$space} {
    padding-bottom: #{$space}px !important;
  }

  .n-pt-#{$space} {
    padding-top: #{$space}px !important;
  }
}

// @for $space from 1 through 100 {
//   .n-border-radius- #{$space} {
//     border-radius: #{$space}px !important;
//   }
// }

@for $space from 1 through 100 {
  .n-border-width-#{$space} {
    border: #{$space}px !important;
  }
}

// ==============width /height is percentage=============
@for $space from 1 through 100 {
  @if ($space%5==0) {
    .n-wp-#{$space} {
      width: #{$space}+ "%";
    }
  }
}

@for $space from 1 through 100 {
  @if ($space) {
    .n-hp-#{$space} {
      height: #{$space}+ "%";
    }
  }
}

// #{calc(100 * $space / 12) + '%'}
// ============= custom opacity generation =============

@for $space from 1 through 100 {
  .n-bottom-#{$space} {
    bottom: #{$space}px;
  }

  .n-top-#{$space} {
    top: #{$space}px;
  }

  .n-left-#{$space} {
    left: #{$space}px;
  }
  .n-right-#{$space} {
    right: #{$space}px;
  }
}
